.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.5s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo2 {
  animation: App-logo-spin2 infinite 1s linear;
  height: 300px;
}

@keyframes App-logo-spin2 {
  0% {
    transform: rotate(0deg);
    height: 300px;
  }
  50% {
    height: 300px;
  }
  100% {
    transform: rotate(360deg);
    height: 300px;
  }
}
